{% extends '::container.html.twig' %}
{% block title "Search Results" %}
{% block mainspan %}
<h3>Search results for: {{ query }}</h3>
<br />
{% if projects %}
	<h2>Projects</h2>
	<table class="table table-bordered table-striped">
	<thead>
	<tr>
	<th>Project Name</th>
	<th>User</th>
	</tr>
	</thead>
	<tbody>
	{% for id, project in projects %}
		<tr>
		<td><a href="{{path('AceGenericBundle_project',{'id': id})}}">{{project['name']}}</a></td>
		<td><a href="{{path('AceGenericBundle_user',{'user': project['owner']['username']})}}">{{project['owner']['username']}}</a></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}
{% if users %}
	<h2>Users</h2>
	<table class="table table-bordered table-striped">
	<thead>
	<tr>
	<th>Username</th>
	<th>Full Name</th>
	<th style="text-align: right">Karma</th>
	</tr>
	</thead>
	<tbody>
	{% for id, user in users %}
		<tr>
		<td><a href="{{path('AceGenericBundle_user',{'user':user['username']})}}">{{user['username']}}</a></td>
		<td>{{user["firstname"]}} {{user["lastname"]}}</td>
		<td>
			{% include "AceUtilitiesBundle:Default:codebender_karma.html.twig" with {"karma": user["karma"]} %}
		</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}

{% if users == null and projects == null %}
<h2>No results found :(</h2>
{% endif %}

{% endblock %}
