<div class="row-fluid">
	<div class="span12" style="padding-top: 15px;">
		<ul class="bxslider" style="height: 350px;">
			<li>
				<div class="row-fluid">
                    <div class="span5" style="padding-top: 35px;">
                        <h4 style="text-align: center">Computer Technology Institute and Press</h4>
                        <a target="_blank" href="http://www.cti.gr/en/">
                            <img style="display: block; margin: auto; height: 80px" src={{ asset("images/logos/cti.jpg") }}>
                        </a>
                    </div>
                    <div class="span4"  style="padding-top: 35px;">
                        <h4 style="text-align: center">The Wiselib and WISEBED</h4>
                        <a target="_blank" href="http://www.wiselib.org/">
                            <img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/wisebed.png") }}>
                        </a>
                    </div>
					<div class="span3" style="padding-top: 35px;">
						<h4 style="text-align: center">Codebender</h4>
						<a target="_blank" href="http://codebender.cc/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/codebender.png") }}>
						</a>
					</div>
                    <div class="span6" style="padding-top: 35px;">
                        <h4 style="text-align: center">University of Lübeck</h4>
                        <a target="_blank" href="https://www.itm.uni-luebeck.de/">
                            <img style="display: block; margin: auto;" src={{ asset("images/logos/univ_zu_lubeck.png") }}>
                        </a>
                    </div>
                    <div class="span5" style="padding-top: 35px;">
                        <h4 style="text-align: center">Technische Universität Braunschweig</h4>
                        <a target="_blank" href="https://www.tu-braunschweig.de/">
                            <img style="display: block; margin: auto;" src={{ asset("images/logos/technische_univ.jpg") }}>
                        </a>
                    </div>
				</div>
			</li>
            <li>
                <h3>Computer Technology Institute and Press</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <a target="_blank" href="http://www.cti.gr/en/"><img src={{ asset("images/logos/cti.jpg") }}></a>
                    </div>
                    <div class="span8">
                        <p>Computer Technology Institute and Press "Diophantus" is a research and technology organization focusing on research and development in Information and Communication Technologies (ICT). Particular emphasis is placed on education, by developing and deploying conventional and digital media in education and lifelong learning; publishing printed and electronic educational materials; administrating and managing the Greek School Network; and supporting the organization and operation of the electronic infrastructure of the Greek Ministry of Education and Religious Affairs and all educational units. Since its establishment in 1985, and in the past decades of rapid technological development, CTI has actively contributed to many of the advances that today are taken for granted.</p>
                    </div>
                </div>
            </li>
            <li>
                <h3>The Wiselib and WISEBED</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <a target="_blank" href="http://www.wiselib.org/"><img src={{ asset("images/logos/wisebed.png") }}></a>
                    </div>
                    <div class="span8">
                        <p style="text-align:justify;">The <a target="_blank" href="http://www.wiselib.org">Wiselib</a>, an algorithms library for networked embedded devices containing various algorithm classes (for instance, localization or routing) that can be compiled for several platforms such as iSense or Contiki, or the sensor network simulator Shawn. Completely written in C++, using templates in the same way as Boost and CGAL makes it possible to write generic and platform independent code that is very efficiently compiled for the various platforms.</p>

                        <p style="text-align:justify;"><a target="_blank" href="http://wisebed.eu">WISEBED</a> is a joint effort of nine academic and research institutes across Europe. The project took place between June 2008 to May 2011 and was funded by the European Commission under the Information Communication Technologies programme part of the Seventh Framework. The aim of this project was to provide a multi-level infrastracture of interconnected testbeds of largescale wireless sensor networks for research purposes, pursuing an interdisciplinary approach that integrates the aspects of hardware, software, algorithms, and data.</p>
                    </div>
                </div>
            </li>
			<li>
				<h3>Codebender</h3>
					<div class="row-fluid">
						<div class="span3">
							<a target="_blank" href="http://codebender.cc/"><img src={{ asset("images/logos/codebender.png") }}></a>
						</div>
						<div class="span8">
							<p>
								<a target="_blank" href="http://codebender.cc/" title="Codebender">Codebender.cc</a> is a web platform for embedded software development, aimed at developers, artists, makers and hardware enthusiasts. It allows you to join the maker revolution and start building a cool hardware project, like an automated grill, a cat feeder, bike GPS or your very own weather station, by simplifying Arduino programming. Unlike other solutions, codebender requires no installation, so you can get started with Arduino programming the minute you get one in your hands! And with the development tools it provides, you can do so faster and easier! codebender also stores your code on the cloud, so it’s safe and accessible from anywhere, anytime.</p>
						</div>
					</div>
			</li>
			<li>
				<h3>University of Lübeck</h3>
				<div class="row-fluid">
					<div class="span3">
						<a target="_blank" href="https://www.itm.uni-luebeck.de/"><img src={{ asset("images/logos/univ_zu_lubeck.png") }}></a>
					</div>
					<div class="span8">
						<p>The Universität zu Lübeck is recognised as “The Founders’ University” and ranked as one of three best universities under the EXIST sponsorship programme run by the Federal Ministry of Economics & Technology.
                            It won this coveted title, as one of the three best universities, for its overall strategy to support start-ups. This was the outcome of the “EXIST Start-Up Culture – The Founders’ University” competition run by the Federal Ministry of Economics & Technology. The Federal Minister, Dr. Philipp Rösler, conferred the accolade at a celebration held on 9 January 2013 in Berlin.
                        </p>
					</div>
				</div>
			</li>
            <li>
                <h3>Technische Universität Braunschweig</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <a target="_blank" href="https://www.tu-braunschweig.de/"><img src={{ asset("images/logos/technische_univ_150.jpg") }}></a>
                    </div>
                    <div class="span8">
                        <p>The TU Braunschweig (English: University of Braunschweig – Institute of Technology) is the oldest University of Technology (comparable to an institute of technology in the American system) in Germany. It was founded in 1745 as Collegium Carolinum and is a member of TU9, an incorporated society of the most renowned and largest German Institutes of Technology. It is commonly ranked among the top universities for engineering in Germany. Today it has about 15,500 students, making it the third largest university in Lower Saxony after the University of Göttingen and the University of Hanover. Research projects include Micro Air Vehicles, hybrid engines, and Digital Video Broadcasting.</p>
                    </div>
                </div>
            </li>
		</ul>

	</div>
</div>