<div class="row-fluid">
	<div class="span12" style="padding-top: 15px;">
		<ul class="bxslider">
			<li>
				<div class="row-fluid">
					<div class="span3">
						<h4 style="text-align: center">Codebender</h4>
						<a target="_blank" href="http://codebender.cc/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/codebender.png") }}>
						</a>
					</div>
					<div class="span4">
						<h4 style="text-align: center">WISEBED</h4>
						<a target="_blank" href="http://wisebed.eu/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/wisebed.png") }}>
						</a>
					</div>
					<div class="span4">
						<h4 style="text-align: center">Technische Universität Braunschweig</h4>
						<a target="_blank" href="https://www.tu-braunschweig.de/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/technische_univ_150.jpg") }}>
						</a>
					</div>
					<div class="span5">
						<h4 style="text-align: center">University of Lübeck</h4>
						<a target="_blank" href="https://www.itm.uni-luebeck.de/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/univ_zu_lubeck.png") }}>
						</a>
					</div>
                    <div class="span5">
                        <h4 style="text-align: center">Computer Technology Institute and Press</h4>
                        <a target="_blank" href="http://www.cti.gr/en/">
                            <img style="display: block; margin: auto; height: 100px" src={{ asset("images/logos/cti.jpg") }}>
                        </a>
                    </div>
				</div>
			</li>
			<li>
				<h3>Codebender</h3>
					<div class="row-fluid">
						<div class="span3">
							<a target="_blank" href="http://codebender.cc/"><img src={{ asset("images/logos/codebender.png") }}></a>
						</div>
						<div class="span8">
							<p>
								<a target="_blank" href="http://codebender.cc/" title="Codebender">Codebender</a> is a ...</p>
						</div>
					</div>
			</li>
			<li>
				<h3>WISEBED</h3>
					<div class="row-fluid">
						<div class="span3">
							<a target="_blank" href="http://wisebed.eu/"><img src={{ asset("images/logos/wisebed.png") }}></a>
						</div>
						<div class="span8">
							<p style="text-align:justify;"><a target="_blank" href="http://wisebed.eu/">WISEBED</a>
								is
								the web ...
                            </p>
						</div>
					</div>
			</li>
			<li>
				<h3>Technische Universität Braunschweig</h3>
				<div class="row-fluid">
					<div class="span3">
						<a target="_blank" href="https://www.tu-braunschweig.de/"><img src={{ asset("images/logos/technische_univ_150.jpg") }}></a>
					</div>
					<div class="span8">
						<p>Technische Universität Braunschweig is a ...</p>
					</div>
				</div>
			</li>
			<li>
				<h3>University of Lübeck</h3>
				<div class="row-fluid">
					<div class="span3">
						<a target="_blank" href="https://www.itm.uni-luebeck.de/"><img src={{ asset("images/logos/univ_zu_lubeck.png") }}></a>
					</div>
					<div class="span8">
						<p>University of Lübeck is a ...</p>
					</div>
				</div>
			</li>
            <li>
                <h3>Computer Technology Institute and Press</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <a target="_blank" href="http://www.cti.gr/en/"><img src={{ asset("images/logos/cti.jpg") }}></a>
                    </div>
                    <div class="span8">
                        <p>Computer Technology Institute and Press is a ...</p>
                    </div>
                </div>
            </li>
		</ul>

	</div>
</div>