<script type="text/javascript">
$(document).ready(function()
{
	$('.project_link').popover();
    OAuth.initialize('pXB0AkTIviqG1Xer8_qPtgbs16E');

    {% if github_access_token is defined %}
    access_token = '{{ github_access_token }}';
    {% endif %}
});

var access_token = "";

function revokeGitHub(){
    $.get("{{ path("AceUserBundle_set_access_token") }}", {}, function (data) {
        $("#li_auth_revoke").html("\<a href=\"authorizeGitHub();\"><i class=\"icon-exclamation-sign\"></i>Link a GitHub Account</a>");
    });
}

function authorizeGitHub(){

}

function warnDeleteProject(deletion_path)
{
	$("#deleteProjectButton").attr("href", deletion_path);
	$("#deleteProjectModal").modal("show");
}

function forkProject(){
    $("#forkProjectButton").addClass("disabled");
    $("#forkProjectButtonC").addClass("disabled");
    $("#forkProjectButton").html("<i class='icon-spinner icon-spin icon-large'></i> Forking...");
    var url = $("#forkProjectUrl").val().trim().toLowerCase();
    if(url == "" || url.length <= 12 || url.indexOf("/")==-1){
        alert("Not a good url. Please retry.");
        $("#forkProjectButton").removeClass("disabled");
        $("#forkProjectButtonC").removeClass("disabled");
        $("#forkProjectButton").html("<i class='icon-random icon-white'> Fork!");
        return;
    }

    //fork
    var oauthProvider = 'github';
    OAuth.popup(oauthProvider, function (err, suc) {
        if (suc) {
            access_token = suc.access_token;
            //store this

            var urlg = '{{ path("AceUserBundle_set_access_token") }}?access_token=' + access_token;
            $.ajax({type: "GET", url: urlg, data: {}, async:  true, success: function (data) {
                //alert("saved return value = " + data);
            }});

            var user_name;var repo; var owner;

            // GET  /user
            // Get the authenticated user
            $.ajax
            ({
                type: "GET",
                url: 'https://api.github.com/user?access_token=' + access_token,
                dataType: 'json',
                async: false,
                data: '',
                success: function (data) {
                    var json = $.parseJSON(JSON.stringify(data, undefined, 2));
                    user_name = json.login;
				if(url.indexOf(user_name)==-1){
                // This means the repository does not belong to the user
                // fork
                repo = url.substring(url.lastIndexOf("/")+1);
                if(repo.indexOf(".git")){
                    repo = repo.replace(".git", "");
                }
                owner = url.substring(0, url.lastIndexOf('/'));
                owner = owner.substring(owner.lastIndexOf("/")+1);
                if(owner == ""  || repo == "") {
                    alert("Please recheck the url and try again.");
                    return;
                }
                $.ajax
                ({
                    type: "POST",
                    url: 'https://api.github.com/repos/' +owner+ '/' + repo + '/forks?access_token=' + access_token,
                    dataType: 'json',
                    async: true,
                    data: '',
                    success: function (data) {
                        // create project
                        $.ajax
                        ({
                            type: "POST",
                            url: '{{ path('AceUtilitiesBundle_forkproject') }}',
                            dataType: 'json',
                            async: true,
                            data: '{"project_url" : "' +url+ '", "user" : "' + user_name +  '"}' ,
                            success: function (data) {
                                var json = $.parseJSON(JSON.stringify(data, undefined, 2));
                                if(json.success){
                                    alert("Repository " + repo + " forked!");
                                    location.reload();
                                }else{
                                    //rollback fork
                                    $.ajax
                                    ({
                                        type: "DELETE",
                                        url: 'https://api.github.com/repos/' + user_name + '/' + repo + '?access_token=' + access_token,
                                        dataType: 'json',
                                        success: function () {
                                        },
                                        error: function (request, status, error) {
                                        }
                                    });
                                    alert(json.message);
                                    $("#forkProjectButton").removeClass("disabled");
                                    $("#forkProjectButtonC").removeClass("disabled");
                                    $("#forkProjectButton").html("<i class='icon-random icon-white'> Fork!");
                                }
                            },
                            error: function (request, status, error) {
                                $("#forkProjectButton").removeClass("disabled");
                                $("#forkProjectButtonC").removeClass("disabled");
                                $("#forkProjectButton").html("<i class='icon-random icon-white'> Fork!");
                                alert("ERROR: " + request.responseText);
                            }
                        });
                    },
                    error: function (request, status, error) {
                        $("#forkProjectButton").removeClass("disabled");
                        $("#forkProjectButtonC").removeClass("disabled");
                        $("#forkProjectButton").html("<i class='icon-random icon-white'> Fork!");
                        alert("ERROR: " + request.responseText);
                        return;
                    }
                });
            }
                },
                error: function (request, status, error) {
                    alert("ERROR: " + request.responseText);
                    return;
                }
            });
            
        }
        else {
            alert("Failed to initialize access token.");
            access_token = "";
        }
    });

    if(access_token){

    }
}

</script>
<div class="well">
<ul class="nav nav-list" id="sidebar-list-header">
    <li class="nav-header" id="Links">Links</li>
    <li><a href="{{ path('AceGenericBundle_index') }}"><i class="icon-home"></i>Home</a></li>
    <li><a href="{{ path('AceUtilitiesBundle_wiselib_clone') }}"><i class="icon-hdd"></i>Create a Wiselib Clone</a></li>
    <!--<li id="li_auth_revoke">
        {% if access_token is defined and access_token!= '' %}
            <a href="javascript:revokeGitHub();"><i class="icon-exclamation-sign"></i>Unlink GitHub Account</a>
        {% else %}
            <a href="javascript:authorizeGitHub();"><i class="icon-exclamation-sign"></i>Link a GitHub Account</a>
        {% endif %}
    </li>-->
</ul>
<ul class="nav nav-list" id="sidebar-list-main" style="max-height:600px; overflow:auto;">
	<li class="nav-header">Projects <a title="Fork a GitHub project" data-toggle="modal" style="float:right; margin-right: 10px" href="#forkCreationModal">
            <i class="icon-random"></i></a></li>
    {% if files%}
        {% for file in files %}
            <li>
                <a rel="popover" data-delay=1500 class="project_link" data-trigger="hover" data-html="true"
                   style="overflow: hidden; text-overflow: ellipsis; width: 60%; width: -moz-calc(100% - 59px);
				   width: -webkit-calc(100% - 59px); width: calc(100% - 59px);"
                   data-placement="right" data-content="
<h6>Description:</h6>
<p>{% render "AceUtilitiesBundle:Default:getDescription" with {'id':file['id']} %}</p>
<h6>Files:</h6>
<p>{% render "AceUtilitiesBundle:Default:listFilenames" with {'id':file['id'], 'show_ino':1} %}</p>"
                   data-original-title="{{ file['name'] }}" href="{{ path('AceGenericBundle_edit', { 'project_id': file['id'], 'fpath': file['name'] ~ '_app.cpp' }) }}">
                    {{ file['name'] }}
                </a>
                <button style=" float: right; margin-top: -25px; margin-right: 22px; padding: 0px;"
                        onclick="location.href='{{ path('AceUtilitiesBundle_download', { 'id' : file['id'] }) }}'"
                        class="btn btn-link">
                    <i class="icon-download-alt"></i>
                </button>
                <button style=" float: right; margin-top: -25px; padding: 0px; padding-right: 15px; margin-right: -15px"
                        onClick="warnDeleteProject('{{ path('AceUtilitiesBundle_deleteproject', {'id':file['id']}) }}')"
                        class="btn btn-link">
                    <i class="icon-trash"></i>
                </button>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<!--<ul class="nav nav-list" id="sidebar-list-main" style="max-height:600px; overflow:auto;">
    <li class="nav-header">Configuration Files <a title="Add New Configuration File" data-toggle="modal" style="float:right; margin-right: 10px" href="#configCreationModal">
            <i class="icon-plus"></i>
        </a></li>

</ul>-->

<ul class="nav nav-list" id="sidebar-list-footer">
    <li class="nav-header" id="documentation">Documentation</li>
	<!-- <li class="active"><a href="#">Link</a></li> -->
	<!--<li><a href="{{ path('AceGenericBundle_libraries') }}"><i class="icon-book"></i>Examples &amp; Libraries</a></li>-->
	<!--<li><a href="{{ path('AceGenericBundle_boards') }}"><i class="icon-hdd"></i>Supported Boards</a></li>-->
	<!--<li><a href="{{ path("AceStaticBundle_walkthrough", {"page":1}) }}"><i class="icon-exclamation-sign"></i>Getting Started</a></li>-->
	<li><a href="{{ path("AceStaticBundle_documentation", {"page": "home"}) }}"><i class="icon-exclamation-sign"></i>Home</a></li>
	<li><a href="{{ path("AceStaticBundle_documentation", {"page":"supported-platforms"}) }}"><i class="icon-exclamation-sign"></i>Supported Platforms</a></li>
	<li><a href="{{ path("AceStaticBundle_documentation", {"page":"programming-hints"}) }}"><i class="icon-exclamation-sign"></i>Programming Hints</a></li>
	<li><a href="{{ path("AceStaticBundle_documentation", {"page":"coding-guidelines"}) }}"><i class="icon-exclamation-sign"></i>Coding Guidelines</a></li>
	<li><a href="{{ path("AceStaticBundle_documentation", {"page":"generic-apps"}) }}"><i class="icon-exclamation-sign"></i>Generic Wiselib App</a></li>
	<li><a href="{{ path("AceStaticBundle_documentation", {"page":"background"}) }}"><i class="icon-exclamation-sign"></i>Background</a></li>
	<li><a href="{{ path("AceStaticBundle_documentation", {"page":"reserved-msg-ids"}) }}"><i class="icon-exclamation-sign"></i>Reserved Message IDs</a></li>
	<!--<li><a href="{{ path('AceStaticBundle_upload_bootloader') }}"><i class="icon-upload"></i>Upload Bootloader</a></li>-->
	<!--<li><a href="{{ path('AceStaticBundle_tutorials') }}"><i class="icon-facetime-video"></i>Tutorials</a></li>-->

</ul>
</div>
<div class="modal hide fade" id="forkCreationModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&#215;</button>
        <h3>Fork a project from GitHub</h3>
    </div>
    <div class="modal-body">
        <p>Please input the Git url that you would like to fork. <b>NOTE</b>: Currently, this method can import single file projects to Wisebender. Please be careful to select appropriate GitHub repository.</p>
        <input type="text" id="forkProjectUrl" style="width: 450px" />
    </div>
    <div class="modal-footer">
        <button id="forkProjectButtonC" data-dismiss="modal" class="btn">Cancel</button>
        <button id="forkProjectButton" onClick="forkProject()" data-loading-text="<i class='icon-spinner icon-spin'></i> Forking" class="btn btn-submit" ></i><i class="icon-random icon-white"></i> Fork!</button>
    </div>
</div>
<!--<div class="modal hide fade" id="configCreationModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&#215;</button>
        <h3>Config File Parameters</h3>
    </div>
    <div class="modal-body">
        <p>Deleting your project is going to destroy all of its data. This action is irreversible. If you chose to delete your project, all the files associated with it are going to be destroyed and the data will be irrecoverable. You <strong>WILL BE UNABLE</strong> to back up your files.</p>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <a id="deleteProjectButton" href="" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete!</a>
    </div>
</div>-->

<div class="modal hide fade" id="deleteProjectModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&#215;</button>
    <h3>Are you sure you want to delete your project?</h3>
  </div>
  <div class="modal-body">
    <p>Deleting your project is going to destroy all of its data. This action is irreversible. If you chose to delete your project, all the files associated with it are going to be destroyed and the data will be irrecoverable. You <strong>WILL BE UNABLE</strong> to back up your files.</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">Cancel</a>
    <a id="deleteProjectButton" href="" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete!</a>
  </div>
</div>

{% block javascripts_upload_head %}
    <link rel="stylesheet" href='{{ asset("css.treeview/treeview.css") }}'>
    <script src="{{ asset("js/oauth.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
